body {
    margin: 5%;
}
.logo {
    width: 23%;
}
nav {
    display: flex;
}
nav li {
    list-style: none;
}
nav ul {
    margin-block-start: 0em !important;
    padding-inline-start: 0px !important;
}
.heroImg {
    height: auto;
    width: 40%;
}
.content {
    display: flex;
    justify-content: flex-end;
}
.contentText {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 20%;
}
.workGrid {
    display: grid;
    grid-template-columns: 80% 20%;
}
.workGrid img {
    width: 100%;
    height: auto;
}