body {
    margin: 5%;
}
.logo {
    width: 23%;
}
nav {
    display: flex;
}
nav li {
    list-style: none;
    padding-top: 20%;
}
nav ul {
    margin-block-start: 0em !important;
    padding-inline-start: 0px !important;
    padding-top: 3%;
}
button {
    padding-right: 5%;
}
.heroImg {
    height: auto;
    width: 40%;
    padding-left: 1%;
}
.content {
    display: flex;
    justify-content: flex-end;
}
.contentText {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 20%;
    text-align: right;
}
.workGrid {
    display: grid;
    grid-template-columns: 80% 20%;
}
.workGrid img {
    width: 100%;
    height: auto;
}
footer {
    padding-top: 8%;
}
@media only screen and (max-width: 600px) {
    flex-direction: column;
    width: 100%;
    grid-template-columns: 80% 20%;
}